/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  // padding: 1rem 3rem;
}

.polygon-inputs {
  display: flex;
  flex-direction: column;
  border: 1px solid lightslategray;
  border-radius: 8px;
  padding: 2rem;
  position: relative;
  padding-top: 0.25rem;

  label {
    display: block;
    margin-top: 0.85rem 0;
    font: 1rem 'Fira Sans', sans-serif;
    width: 200px;
  }
}
h2 {
  font-size: 1.2rem;
  margin: 1rem 0;
  background-color: lightgray;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background-color: #1b1c1d;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0 2rem;
  h1 {
    flex: 1;
    font-variant: small-caps;
    font-size: 1.7rem;
    margin: 0.2rem;
    color: white;
  }
  img {
    margin: 0.5rem;
    border-radius: 50%;
  }
}
